{{#*inline "content"}}
<div class="container-fluid vstack gap-2 mx-auto">
    <h2 class="text-center">Access Denied</h2>
    <p class="text-center">Try logging in</p>
</div>
{{/inline}}
{{~> default_template~}}