{{#*inline "content"}}
<div class="container-fluid vstack gap-2 mx-auto">
<h1 class="text-center">Goord is currently invite only.</h1>
<h3 class="text-center">If you've been invited, use the link in the email.</h3>
</div>
{{/inline}}
{{~> default_template~}}