{{#*inline "content"}}
<div class="container-fluid vstack gap-2 mx-auto">
    <h2 class="text-center">Internal Error</h2>
    <p class="text-center">My error handling is lazy</p>
</div>
{{/inline}}
{{~> default_template~}}